/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Google */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h3 {
    font-size: 2.5rem;
}

#excuse {
    font-size: 3.2rem;
    font-weight: 660;
    margin-bottom: 2rem;
    background: linear-gradient(to right, rgb(112, 6, 112), rgb(217, 7, 7),rgb(220, 145, 5));
    color: transparent;
    background-clip: text;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.definition{
    font-size: 1.5rem;
    font-weight: 250;
    margin-bottom: 2rem;
    background: linear-gradient(to right, rgb(112, 6, 112), rgb(217, 7, 7),rgb(220, 145, 5));
    color: transparent;
    background-clip: text;
    text-underline-position: above, black;
    margin: 4rem;
    display: flex;
    gap: 1rem
}

/* Add a line below the word */
.word-container::after {
    content: '';
    display: block;
    width: 100%; /* Matches the width of the word */
    height: 2px;
    background-color: rgb(112, 6, 112);
    margin-top: 5px;
}